@model IEnumerable<MunitionStockAndSupply.Models.Cart>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Cart";
    string formatPrice = "";
    float total = 0;
}

<h1>Shopping Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            formatPrice = item.ItemPrice.Trim('$');
            total += float.Parse(formatPrice);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemPrice)
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteFromCart", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
    <p>
        Total: $@total
    </p>
    @if (SignInManager.IsSignedIn(User))
    {
        <p>
            @Html.ActionLink("Checkout", "Checkout")
        </p>
    }
    else
    {
        <p>Please <a asp-area="Identity" asp-page="/Account/Login">Login Or Register</a> To Purchase Items.</p>
    }
</table>