@model IEnumerable<MunitionStockAndSupply.Models.Inventory>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Inventory";
}

<h1>Inventory</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsItemRestricted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsItemRestricted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemPrice)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <input type="button" onclick="addToCart('@item.ItemName', '@item.ItemPrice', '@item.SellerId')" value="Add To Cart" />
                    }
                    else
                    {
                        <p>Please <a asp-area="Identity" asp-page="/Account/Login">Login Or Register</a> To Purchase Items.</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function addToCart(itemName, itemPrice, sellerID) {

        $.ajax({
            type: "POST",
            url: "/Home/AddToCart",
            data:
            {
                "itemName": itemName,
                "itemPrice": itemPrice,
                "SellerID": sellerID
            },
            dataType: "json",
            success: function (response) {
                alert("Success")
            },
            failure: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>